[Unit]
Description="mkdocs service"

[Service]
ExecStart=/bin/bash -c "cd /root/cng/sandboxes/mkdocs-simple && /usr/local/bin/mkdocs serve"

[Install]
WantedBy=multi-user.target
